<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white">
         <div class="mb-8">
            <a class="text-blue-500 hover:underline" href="/read">Read Users</a>
        </div>
      <h1 class="text-3xl tracking-tighter mb-3">Edit User</h1>
      <form action="/update/<%= user._id %>" method="post">
        <input
          type="text"
          placeholder="Name"
          class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" name="name"
          value="<%= user.name %>"
        />
        <input
          type="text"
          placeholder="Email"
          class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" name="email"
          value="<%= user.email %>"
        />
        <input
          type="text"
          placeholder="Image URL"
          class="px-5 py-2 border-2 border-zinc-800 outline-none rounded-lg bg-transparent" name="image"
          value="<%= user.image %>"
        />
        <input
          type="submit"
          value="Edit User"
          class="bg-yellow-400 rounded-lg p-2 ml-3 text-black"
        />
      </form>
    </div>
  </body>
</html>
